.Sec-5{
    background-image: url(../../assets/imges/landing-page/sec-5/Vector.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 40%;
}

.Why-sec{
    width: 40%;
}