
.pop2-btn{
    background-color: #1572d31a;
    color: #0b5ed7;
    border: 1px solid #0b5ed7;
    padding: 5px 20px;
    font-weight: bold;
}

.card-sec-3{
    width: 180px;
    text-align: center;
}